/*
 * Projects
 */

img.heighted{
  /*height: 100px !important;
  width: 100px !important; */
  max-height: 120px !important;
  /* max-height: auto; */
  height: auto;
  width: auto\9; /* ie8 */
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
