.entry-content-main > div {
  word-break: break-word;
}

.entry-content-main > div > p > span {
    font-family: "Source Code Pro","Courier New",Menlo,Courier,monospace;
    font-family: monospace, serif;
    text-align: left;
    padding: 0em .3em;
    font-size: 0.8em;
    color: #bf616a;
    background-color: #f2f2f2;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
}

@media all and (min-width: 991px) {
  .entry-content-main {
    margin-bottom: 60px;
    padding: 0 10% 10%;
    padding-top: 0px;
    padding-right: 12%;
    padding-bottom: 10%;
    padding-left: 12%;
  }

  .entry-content-main > h2 {
      text-align: center;
      font-family: "Source Sans Pro",sans-serif;
      font-weight: bold;
  }

  .entry-content-main > div > h3 {
      text-align: center;
      font-size: 27px;
      font-family: "Source Sans Pro",sans-serif;
      font-weight: bold;
  }

  .entry-content-main > div > p {
    text-align: left;
    font-family: "Source Serif Pro",serif;
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .01rem;
    line-height: 1.58;
    letter-spacing: -.003em;
  }

  .entry-content-main > div > SyntaxHighlighter {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 16px;
  }

  .entry-content-main > div > img {
      width: 50%;
      height: 80%;
      width: auto\9; /* ie8 */
  }
}

@media all and (min-width: 901px) and (max-width: 990px) {
  .entry-content-main {
    margin-bottom: 60px;
    padding: 0 10% 10%;
    padding-top: 0px;
    padding-right: 8%;
    padding-bottom: 10%;
    padding-left: 8%;
  }

  .entry-content-main > h2 {
      text-align: center;
      font-family: "Source Sans Pro",sans-serif;
      font-weight: bold;
  }

  .entry-content-main > div > h3 {
      text-align: center;
      font-size: 27px;
      font-family: "Source Sans Pro",sans-serif;
      font-weight: bold;
  }

  .entry-content-main > div > p {
    text-align: left;
    font-family: "Source Serif Pro",serif;
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .01rem;
    line-height: 1.58;
    letter-spacing: -.003em;
  }

  .entry-content-main > div > SyntaxHighlighter {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 16px;
  }

  .entry-content-main > div > img {
      width: 50%;
      height: 80%;
      width: auto\9; /* ie8 */
  }
}

@media all and (min-width: 601px) and (max-width: 900px) {

  .entry-content-main > h2 {
      text-align: center;
      font-size: 27px;
      font-family: "Source Sans Pro",sans-serif;
      font-weight: bold;
  }

  .entry-content-main > div > h3 {
      text-align: center;
      font-size: 23px;
      font-family: "Source Sans Pro",sans-serif;
      font-weight: bold;
  }

  .entry-content-main > div > p {
    text-align: left;
    font-family: "Source Serif Pro",serif;
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .01rem;
    line-height: 1.58;
    letter-spacing: -.004em;
  }

  .entry-content-main > div > SyntaxHighlighter {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 13px;
  }

  .entry-content-main > div > img {
      width: 70%;
      height: 80%;
      width: auto\9; /* ie8 */
  }
}

@media all and (min-width: 441px) and (max-width: 600px) {
  .entry-content-main {
    margin-bottom: 60px;
    padding: 0 10% 10%;
    padding-top: 0px;
    padding-right: 5%;
    padding-bottom: 10%;
    padding-left: 5%;
  }

  .entry-content-main > h2 {
      text-align: center;
      font-size: 23px;
      font-family: "Source Sans Pro",sans-serif;
      font-weight: bold;
  }

  .entry-content-main > div > h3 {
      text-align: center;
      font-size: 21px;
      font-family: "Source Sans Pro",sans-serif;
      font-weight: bold;
  }

  .entry-content-main > div > p {
    text-align: left;
    font-family: "Source Serif Pro",serif;
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .01rem;
    line-height: 1.58;
    letter-spacing: -.004em;
  }

  .entry-content-main > div > SyntaxHighlighter {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 12px;
  }

  .entry-content-main > div > img {
      width: 70%;
      height: 80%;
      width: auto\9; /* ie8 */
  }
}

@media all and (min-width: 0px) and (max-width: 440px) {
  .entry-content-main {
    margin-bottom: 60px;
    padding: 0 10% 10%;
    padding-top: 0px;
    padding-right: 5%;
    padding-bottom: 10%;
    padding-left: 5%;
  }

  .entry-content-main > h2 {
      text-align: center;
      font-size: 19px;
      font-family: "Source Sans Pro",sans-serif;
      font-weight: bold;
  }

  .entry-content-main > div > h3 {
      text-align: center;
      font-size: 17px;
      font-family: "Source Sans Pro",sans-serif;
      font-weight: bold;
  }

  .entry-content-main > div > p {
    text-align: left;
    font-family: "Source Serif Pro",serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .01rem;
    line-height: 1.58;
    letter-spacing: -.004em;
  }

  .entry-content-main > div > SyntaxHighlighter {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 10px;
  }

  .entry-content-main > div > img {
      width: 70%;
      height: 80%;
      width: auto\9; /* ie8 */
  }
}
