/*
 * Globals
 */

body {
  font-family: 'Roboto', normal;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: 'Roboto';
  font-weight: normal;
  color: #333;
}

a:hover,
a:focus {
  color: #c9c9c9;
  text-decoration: none;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}


/*
 * Router Animation Settings
 */

 .example-enter {
   opacity: 0.01;
   transition: opacity .5s ease-in;
 }

 .example-enter.example-enter-active {
   opacity: 1;
   transition: opacity 500ms ease-in;
 }

 .example-leave {
   opacity: 1;
   /*transition: opacity .5s ease-in;*/
   transition: opacity 500ms ease-in;
 }

 .example-leave.example-leave-active {
   opacity: 0.01;
 }

 .example-appear {
   opacity: 0.01;
   transition: opacity .5s ease-in;
 }

 .example-appear.example-appear-active {
   opacity: 1;
 }
