/*
 * Header
 */

.blog-header {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

@media all and (min-width: 441px) and (max-width: 1023px) {
  img.autoresize {
      max-width: 80%;
      height: auto;
      width: auto\9; /* ie8 */
  }
}

@media all and (min-width: 0px) and (max-width: 440px) {
  img.autoresize {
      max-width: 80%;
      height: auto;
      width: auto\9; /* ie8 */
      content: url(../../assets/headerm.jpg);
  }
}
