/*
 * Header
 */

.blog-header {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

.blog-title {
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
  font-family: 'Pacifico', serif;
  text-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
  color: #196E76;
}

.blog-title:hover,
.blog-title:focus {
	  /* color: #fff; */
  color: #c9c9c9;
  text-decoration: none;
}

.blog-description {
  font-size: 20px;
  color: #999;
  text-indent: 7.75em; /* indent slightly */
  text-shadow: 0 1px 0px rgba(0, 0, 0, .15);
  margin-top: 1em;
}
